@import 'tailwindcss';
@import './font.css';
@theme {
  /* Gray Scale */
  --color-black: #000000;
  --color-gray4: #464646;
  --color-gray3: #aaaaaa;
  --color-gray2: #c1c1c1;
  --color-gray1: #e3e3e3;
  --color-white: #ffffff;

  /* Main Colors */
  --color-main: #184d59;
  --color-sub1: #1bbfbf;
  --color-sub2: #25d9c7;
  --color-sub3: #99f2e9;
  --color-bg-white: #f2f2f2;

  /* Etc */
  --color-red-caution: #bb1c1c;
  --color-green-info: #5da92e;
}

button {
  cursor: pointer;
}
