@import 'tailwindcss';
@import './font.css';
@theme {
  /* Gray Scale */
  --color-black: #000000;
  --color-gray4: #464646;
  --color-gray3: #aaaaaa;
  --color-gray2: #c1c1c1;
  --color-gray1: #e3e3e3;
  --color-white: #ffffff;

  /* Main Colors */
  --color-main: #184d59;
  --color-sub1: #1bbfbf;
  --color-sub2: #25d9c7;
  --color-sub3: #99f2e9;
  --color-bg-white: #f2f2f2;

  /* Etc */
  --color-red-caution: #bb1c1c;
  --color-green-info: #5da92e;
}

button {
  cursor: pointer;
}

@layer utilities {
  .edit-input {
    @apply w-full rounded-sm border border-[#ccc] px-2.5 py-2 text-xs disabled:bg-[var(--color-gray1)] disabled:text-[var(--color-gray3)] md:text-sm lg:text-base;
  }
  .button-sm {
    @apply flex items-center gap-1 rounded-sm bg-[var(--color-main)] px-2 py-1 text-[10px] text-white md:text-xs lg:text-sm;
  }
  .button-sm.gray {
    @apply hover:bg-gray1 bg-[var(--color-bg-white)] text-[var(--color-gray4)];
  }
  .button-lg {
    @apply hover:bg-sub1 w-full cursor-pointer rounded-sm bg-[var(--color-main)] p-2.5 text-center text-xs text-white md:text-sm lg:text-base;
  }
  .button-lg.gray {
    @apply hover:bg-gray1 bg-[var(--color-bg-white)] text-[var(--color-gray4)];
  }
  .button-quiz {
    @apply bg-bg-white hover:bg-gray1 text-gray3 flex h-7 w-16 cursor-pointer rounded-sm p-[6px] text-xs;
  }
  .button-quiz.delete {
    @apply bg-red-caution/50 text-red-caution w-7;
  }
  .button-quiz.plus {
    @apply bg-sub1 text-white;
  }
}
