.all {
  margin: 0;
  padding: 0;
  background-color: var(--color-main);

  height: 100vh;
  width: 100vw;
  font-family: 'Pretendard', sans-serif;
  color: #fff;
  text-align: center;

  position: relative;
}

.starrySky {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.notfoundCopy {
  color: #fff;
  position: fixed;
  top: 25px;
  right: 10%;
  text-align: right;
}
/* change to alternating star opacities */
.allStars {
  animation: blinkblink 7s linear infinite;
}

@keyframes blinkblink {
  50% {
    opacity: 0.1;
  }
}

@media (max-width: 767px) {
  .moon {
    padding-top: -500px;
  }
}
